/* =========================================================
01. General
============================================================ */
.header_buttom_new {
  border-width: 1px;
  padding: 5px;
  margin-left: 7px;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

div .navbar-nav {
  flex-direction: column;
  margin-left: 50px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0159A0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

a:hover {
  color: #FDD504;
  text-decoration: underline;
}

.title {
  color: white;
  font-weight: 800;
  font-size: x-large;

}

.text-description {
  font-weight: 600;
  font-size: medium;
}

.title-blue {
  color: blue;
  font-weight: 800;
  font-size: x-large;
}


.title-yellow {
  color: #FCD90E;
  font-weight: 800;
  font-size: x-large;
}

.title-black {
  color: black;
  font-weight: 900;
  font-size: x-large;
}

/* =========================================================
01. Tabbar top image banner
============================================================ */
.top-image {
  background: #F4B100 url(../img/logo/banner-logo.jpg) no-repeat center center;
  height: 160px;
}

/* =========================================================
02. Tabbar
============================================================ */

.tabbar_custom {
  background-color: #0159A0;
}

.bg-light {
  background-color: #0159A0;
}

/* debo hacer el stroke del la linea externa blanco */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

section#about {
  background: #f2f2f2;
}

/* =========================================================
03. Location
============================================================ */

#location {
  text-align: center;
  background: #444 url(../img/bg/mapa-bg.jpg) no-repeat center center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#location-tittle {
  text-align: center;
  color: "red";
  font-size: 46px;
  font-weight: bold;
}

#location-info {
  padding: 20px 20px 20px 20px;
  text-align: justify;
  color: "red";
  background-color: #70A0C4;
  opacity: .8; 
  height: 250px;
  width: 350px;
  flex-direction: row;
}

#texto-location {
  font-size: 20;
  font-weight: bold;
  margin-left: "30px";
  opacity: 1; 
}

#clickable-map {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 16px;
}

#clickable-map:hover {
  color:black;
}

/* =========================================================
  04. schedule
  ============================================================ */
#horarios {
  background-color: #FCD90E;
}


@media (max-width: 768px) {
  #small-icon-home {
    display: block;
  }

  #big-icon-home {
    display: none
  }

  #mercado-libre-img {
    height: 75px;
    width: 50px;
  }
}

@media (min-width: 768px) {

  #small-icon-home {
    display: none;
  }

  #big-icon-home {
    display: block;
  }

  #mercado-libre-img {
    height: 100px;
  }
}

/* =========================================================
  05. services
  ============================================================ */
#metodos-entrega {
  background-color: #fcfaf7;
}


#servicios-entrega {
  margin-bottom: 40px;
}



@media (max-width: 768px) {
  .envios {
    height: 40px;
  }

  #titulo-servicios {
    font-family: 'PT Serif', serif;
    font-size: 15px;
  }



  .title-black {
    color: black;
    font-weight: 900;
    font-size: 20px;
  }

}

@media (min-width: 768px) {
  .envios {
    height: 80px;
  }

  #titulo-servicios {
    font-family: 'PT Serif', serif;
    font-size: 25px;
  }


  .title-black {
    color: black;
    font-weight: 900;
    font-size: x-large;
  }

}

/* =========================================================
  06. happy
  ============================================================ */
#clientes-felices {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

#comentarios-felices {
  margin-bottom: 50px;
  margin-top: 40px;
}


/* =========================================================
  07. us
  ============================================================ */
#sobrenosotros {
  background-color: #FCD90E;

}

#us {
  background-color: #FDD504;
  /* este amarillo es el real del logo pequeño */
  /* height: 500px; */
}

.text-us {
  font-size: 20px;
}

/* =========================================================
  08. products
  ============================================================ */

#productos {
  background-color: white;

}

/* =========================================================
  09. contact
  ============================================================ */

#formulario {
  background-color: black;
  height: 500px;
}

#contact {
  background-color: whitesmoke;
}

#contact-tittle {
  text-align: center;
  color: "red";
  font-size: 46px;
  font-weight: bold;
}

#not-form {
  background-color: "yellow";
  background: #444 url(../img/bg/mapa-bg.jpg) repeat center center;
  flex: 1;
}

#clickable-map2{
  border-width: 3px;
  flex: 1;
  background: #444 url(../img/bg/mapa-bg.jpg) repeat center center;
}


/* =========================================================
  10. carrusel
  ============================================================ */

@media (max-width: 768px) {
  #carousel-marcas {
    height: 80px;
  }

  .imgmarca {
    height: 20px;
  }

}

@media (min-width: 768px) {
  #carousel-marcas {
    height: 100px;
  }

  #carousel-marcas img {
    margin-top: 25px;
  }
}

/* =========================================================
  11. mercadolibre
  ============================================================ */




/* =========================================================
  11. Footer
  ============================================================ */
footer {
  background-color: black;
  height: 60px;
}

footer ul {
  background-color: black;
}


.social {
  font-size: 2em;
  color: white;
}

.clientes {
  border: 1px solid blue;
}

.fa-star {
  color: #FCD90E;
}

@media (max-width: 768px) {
  #face-small {
    display: block;
  }

  #inst-small {
    display: block;
  }

  #face-big {
    display: none
  }

  #inst-big {
    display: none
  }


}

@media (min-width: 768px) {

  #face-small {
    display: none;
  }

  #inst-small {
    display: none;
  }

  #face-big {
    display: block
  }

  #inst-big {
    display: block
  }
}